<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        .flex {
            display: flex;
            flex-direction: column;
        }
        
        .red {
            color: red;
        }
        
        .blue {
            color: blue;
        }
    </style>
</head>

<body>
    <h1>브로커 회원가입</h1>
    <div id="app">
        <div class="flex">
            <div>아이디 <input type="text" v-model="brokerId"> <button v-on:click="idCheck">id
                    check</button>
                <span v-if="colorStatus" style="color:red">{{status}}</span>
                <span v-else style="color:blue">{{status}}</span>
            </div>
            <div>비밀번호 <input type="password" v-model="brokerPassword"></div>
            <div>이름 <input type="text" v-model="name"></div>
            <div>이메일 <input type="text" v-model="email"></div>
            <div>나이 <input type="text" v-model="age"></div>   
            <div>휴대폰번호 <input type="text" v-model="phoneNumber"></div>
            <div>주소 <input type="text" v-model="address"></div>
            <!-- disabled를 활용: idCheck가 성공적으로 되어있을때에만 v-bind:disabled 를 활성화 한다  -->
            <div> <button :disabled="registerButton" v-on:click="register">회원가입하기 </button></div>
        </div>
    </div>


    <script>
        const app = new Vue({
            el: "#app",
            data() {
                return {
                    brokerId: "",
                    brokerPassword: "",
                    name: "",
                    email: "",
                    age: 0,
                    phoneNumber: "",
                    address: "",
                    status: "",
                    colorStatus: true,
                    registerButton: true,
                }
            },
            methods: {
                idCheck() {
                    console.log("check id");
                    let params = new URLSearchParams();
                    params.append('brokerId', this.brokerId);
                    axios.post("http://localhost:8081/api/broker/idCheck", params)
                        .then(res => {
                            console.log(res.data);
                            //컨트롤러단에서 OK or FAIL을 반환한다.
                            if (res.data === "OK") {
                                this.colorStatus = false;
                                this.status = "사용할 수 있는 아이디입니다"
                                this.registerButton = false;
                            } else {
                                this.colorStatus = true;
                                this.status = "사용할 수 없는 아이디입니다."
                                this.registerButton = true;
                            }
                        })
                },
                register() {
                    console.log("회원가입하기");
                    let params = new URLSearchParams();
                    params.append('brokerId', this.brokerId);
                    params.append('brokerPassword', this.brokerPassword);
                    params.append('name', this.name);
                    params.append('email', this.email);
                    params.append('age', this.age);
                    params.append('address', this.address);
                    params.append('phoneNumber', this.phoneNumber);
                    axios.post("http://localhost:8081/api/broker/register", params)
                        .then(res => {
                            console.log(res.data);
                            if (res.data === "ok") {
                                alert("회원가입에 성공하였습니다.")
                                location.href = "layout.html";
                            } else {
                                alert("회원가입에 실패하였습니다.")
                                location.href = "layout.html";
                            }
                        });
                }
            }

        });
    </script>
</body>

</html>